.feature-item {
  position: relative;
  padding-left: 0;
  margin-bottom: 3rem;

  @mixin atSmall {
    margin-bottom: 5rem;
    padding-left: 100px;
  }

  &__icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    @mixin atSmall {
      position: absolute;
      left: 0;
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 0.8rem;
    text-align: center;

    @mixin atSmall {
      text-align-last: left;
      font-size: 1.875rem;
    }
  }

  &__text {
    line-height: 1.65;
    font-weight: 300;
    margin: 0;
    @mixin atSmall {
      font-size: 1.125rem;
    }
  }

  &--no-mb-until-medium {
    @mixin atMedium {
      margin-bottom: 0;
    }
  }
}
