.page-section {
  padding: 1.2em 0;

  @mixin atMedium {
    padding: 4.5em 0;
  }

  &--blue {
    background-color: $main-color;
    color: #fff;
  }

  &--testimonials {
    background-color: #e0e6ef;

    @mixin atMedium {
      background-image: url("../../assets/images/testimonials-bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
