.row {
  @mixin clearFix;

  @mixin atMedium {
    &__medium-4 {
      float: left;
      width: 33.3333%;

      &--larger {
        width: 37%;
      }
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.6666%;

      &--smaller {
        width: 63%;
      }
    }
  }

  &--b-margin-until-medium {
    margin-bottom: 1.5rem;
  }

  @mixin atMedium {
    &--b-margin-until-medium {
      margin-bottom: 0;
    }

    &--gutters {
      /* margin-right: -65px; */

      & > div {
        padding-right: 65px;
      }

      & > div:last-child {
        padding-right: 0;
      }
    }

    /* &--gutters-large {
      margin-right: -100px;

      & > div {
        padding-right: 100px;
      }
    } */
  }
}
